body {
  /* Se cambia a la fuente enlazada de google */
  font-family: 'Anek Odia', sans-serif;
  margin: 0;
}
header {
  background-color:#FE9900;
}
header .navbar {
  font-weight: 500;
  padding: 0;
  display: block;
}
header .navbar-main {
  padding: 24px;
}
.navbar-brand {
  font-weight: bolder;
  font-size: 24px;
}

.navbar-close {
  display: none;
}
/* "Pegar nav al hacer scroll" */
.sticky {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background-color:#FE9900;
  transition: top 3s;
  box-shadow: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  padding: 24px;
}

.collapse:not(.show) {
  display: none;
}

@media (max-width: 999px) {
  .navbar-nav .nav-item {
    padding-left: 0px;
  }
  .collapse {
    background-color:#FE9900;
    z-index: 99;
  }
  .navbar-collapse {
    position: fixed;
    right: -100%;
    top: 0px;
    height: 100%;
    text-align: center;
    padding: 20px 10px;
    transition: all 0.7s ease-in-out;
    z-index: 101;
    width: 290px;
    overflow: auto;
  }
}
@media (max-width: 999px) {
  .navbar-collapse button {
    margin-bottom: 10px;
  }
  .collapse:not(.show) {
    display: block;
  }
  .show {
    right: 0;
  }
  .navbar-close {
    background: transparent;
    border: none;
    position: fixed;
    right: 20px;
    top: 20px;
    display: none;
    font-size: 20px;
    color: #ffffff;
  }
  .navbar-close.show {
    transition: all 0.7s ease-in-out;
    display: block;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-size: large;
  color: rgba(255,255,255,.70);
}
.nav-link:hover, .nav-link:focus {
  font-weight: bold;
}

.all-page {
  background-color: #f5f5f5;
  padding: 60px 0;
}

/* Fecha y hora */
.watch-banner {
  background: #ffffff;
  padding: 20px 0px;
}
.watch-banner span {
  padding-right: 24px;
}

.mini-card {
  height: 200px;
}
.text-wrap2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* Footer */
footer {
  color: #000;
}

.footer-top {
  background: #FE9900;
  padding: 64px 0 24px 0;
}

.footer-bottom {
    padding-bottom: 24px;
    background: #FE9900;
}

.footer-top .footer-border-bottom {
  border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}

.count-category {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: rgb(231, 231, 231);
  font-size: 10px;
  text-align: center;
  padding-top: 1px;
}

