body {
  font-family: 'Anek Odia', sans-serif;
}

.head {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
}

h2 {
  font-weight: 600;
  margin: 0;
}

p {
  font-weight: 300;
  margin: 0;
}

.imagenes {
  width: 500px;
  margin-top: 16px;
}

.img-center {
  padding: 40px 24px 24px 24px;
  text-align: center;
}

.cuerpo {
  text-align: justify;
  padding: 16px;
  border-top: 1px solid black;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(250, 163, 1);
  align-items: center;
  height: 56px;
}

.nav-boton {
  background: rgb(250, 163, 1);
  color: aliceblue;
  padding: 10px 30px;
  display: none;
  border: none;
}

.nav-enlace {
  display: inline-block;
  background: rgb(250, 163, 1);
  color: aliceblue;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  width: 88px;
}

.nav-enlace:hover {
  color: aliceblue;
  font-weight: bolder;
  font-size: 16px;
}

table {
  border: 1px solid black;
  margin: 20px 80px;
  margin-bottom: 64px;
  width: auto;
  background-color: rgb(245, 244, 244);
}

td {
  border-top: 1px solid black
}

table thead tr th p {
  margin: 8px;
}

.title {
  padding: 16px 16px 0 16px;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    height: auto;
  }
  .nav-enlace {
    margin: 10px 0;
    display: block;
    width: auto;
  }
  table {
    margin: 16px 8px;
    margin-bottom: 40px;
  }
  .imagenes {
    width: 320px;
  }
  .nav-boton {
    display: inline-block;
  }
  .desaparece {
    display: none;
  }
}
