body {
  font-family: "Times New Roman", sans-serif;
}

.head {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
}

h2 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

.imagenes {
  width: 500px;
  margin-top: 16px;
}

.img-center {
  text-align: center;
}

.cuerpo {
  text-align: justify;
  padding: 16px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(250, 163, 1);
  align-items: center;
  height: 56px;
}

.nav-enlace {
  display: inline-block;
  background: rgb(250, 163, 1);
  color: aliceblue;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  width: 88px;
}

.nav-enlace:hover {
  color: aliceblue;
  font-weight: bolder;
  font-size: 16px;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  margin: 20px 80px;
  margin-bottom: 64px;
  width: auto;
}

table thead tr th p {
  margin: 8px;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .nav-enlace {
    margin: 10px 0;
    display: block;
  }
  table {
    margin: 16px 8px;
    margin-bottom: 40px;
  }
}
